html, body {
  width: 100%;
  height: 100%;
}

header {
  position: relative;
  width: 100%;
  min-height: auto;
  text-align: center;
  /*color: #fff;*/
  background-image: url(../img/header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header .header-content {
  position: relative;
  width: 100%;
  padding: 100px 15px;
  text-align: center;
}

header .header-content .header-content-inner hr {
  margin: 30px auto;
}

header .header-content .header-content-inner h1 {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 65px;
}

header .header-content .header-content-inner p {
  margin-bottom: 50px;
  font-size: 16px;
  font-weight: 300;
  /*color: rgba(255,255,255,.7);*/
  line-height: 1.5;
}

hr {
    max-width: 50px;
    border-color: #f05f40;
    border-width: 3px;
}

.library {
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.pointer {
  cursor: pointer;
}

.no-icon{
  list-style-type: none;
}

video {
  background-color: rgba(0,0,0,.7);
}

@media (min-width: 768px) {
  header {
    min-height: 100%;
  }

  header .header-content {
    position: absolute;
    top: 50%;
    padding: 0 50px;
    /*-webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);*/
  }

  header .header-content .header-content-inner {
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
  }

  header .header-content .header-content-inner p {
    margin-right: auto;
    margin-left: auto;
    max-width: 80%;
    font-size: 18px;
  }
}