.library {
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.pointer {
  cursor: pointer;
}

.no-icon{
  list-style-type: none;
}

video {
  background-color: rgb(0,0,0);
}

snap-content [ui-view] {
    position: inherit;
}

.fr {
  display: inline-block;
}

.menu-toggle {
  background-color: rgba(0,0,0,0);
  background-repeat: no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline: none;
}