.library {
  height: 100%;
  overflow-x: hidden;
  background-color: rgba(0,0,0,0.5); 
}

.library li {
  display: inline-block;
  margin: 0 10px;
}

.library li img {
  width: 75px;
  height: 100px;
  border-radius: 5px;
}

.library button {
  background-color: rgba(0,0,0,0.6);
  display: block;
  margin-left: auto;
  color: white;
}

.music-list {
  display: block;
}

.music-list img {
  display: none;
}

.pointer {
  cursor: pointer;
}

.no-icon{
  list-style-type: none;
}

video {
  background-color: rgb(0,0,0);
}

.video-wrapper {
  margin-bottom: 20px;
}

snap-content [ui-view] {
    position: inherit;
}

.fr {
  display: inline-block;
}

.menu-toggle {
  background-color: rgba(0,0,0,0);
  background-repeat: no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline: none;
}

.file-name {
  display: block;
}

.library-menu {
  list-style: none;
  margin: -1px 0 30px 0;
}

.libray-menu li {
  display: inline;
}

.library-menu li a {
  float:left;
  display: block;
  padding: 5px 10px;
  margin-left: -1px;
  position: relative;
  left: 1px;
  background: rgba(0,0,0,0.5);
  text-decoration: none;
}

.library-menu li a:hover, .libray-menu li a:active  {
  background: rgba(0,0,0,0.9);
}

.has-error {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.components {
  background: #18af91;
  border-color: #18af91;
  box-shadow: none;
  color: white;
}

.component-active {
  background: orange;
  border-color: orange;
}

.btn.focus, .btn:focus, .btn:hover {
  outline: none;
  color: white;
  text-decoration: none;
}
