<div class="login-page">
  <div class="img-container">
    <div class="text-center pull-right photo">
      <img src="img/dncavatar.png" class="user-avatar img-circle img-responsive" />
        <h1>DnC<br/ > <span>MEDIA PORTAL</span><br /></h1>
      </div>
    </div>
    
    <div class="form-content">
      <form role="form" class="bottom-75" name="loginForm" ng-submit="login.login(loginForm.$valid)" novalidate>
        <div class="btn-group btn-group-justified" role="group">
          <div class="btn-group" role="group">
            <button type="button" class="btn components" ng-class="{'component-active': login.register === false}" ng-click="login.register = false">Login</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn components" ng-class="{'component-active': login.register === true}" ng-click="login.register = true">Register</button>
          </div>
        </div>
        <div class="table-form">
          <div class="form-groups">
            <div class="form-group" ng-if="login.register">
              <input type="text" class="form-control input-lg" id="username" ng-model="login.username" placeholder="USERNAME" ng-required="login.register" name="username">
            </div>
            <div class="form-group">
              <input type="email" class="form-control input-lg" id="email" ng-model="login.email" placeholder="EMAIL" required name="email">
            </div>
            <div class="form-group">
              <input type="password" class="form-control input-lg" id="password" ng-model="login.password" placeholder="PASSWORD" required name="password">
            </div>
            <div class="form-group" ng-if="login.register">
              <input type="password" class="form-control input-lg" id="password2" ng-model="login.password2" placeholder="PASSWORD AGAIN" ng-required="login.register" name="password2">
            </div>
          </div>  
          <div class="button-container">
            <button type="submit" class="btn login"><i class="fa fa-chevron-right fa-5x"></i></button>
          </div>
        </div>
        <div class="row" ng-if="loginForm.$submitted && (loginForm.$invalid || (login.register === true && login.passwordMatch === false))">
          <ul class="text-danger">
            <li ng-if="loginForm.username.$error.required">Username is required</li>
            <li ng-if="loginForm.email.$error.required">Email address is required</li>
            <li ng-if="loginForm.email.$error.email">Email address is invalid</li>
            <li ng-if="login.invalidLogin">Username/Password combination is invalid</li>
            <li ng-if="!login.invalidLogin && loginForm.password.$error.required">Password is required</li>
            <li ng-if="loginForm.password2.$error.required">Password Confirmation is required</li>
            <li ng-if="login.register === true && login.passwordMatch === false">Passwords do not match</li>
          </ul>
        </div>
      </form>

    </div>      
  </div>
</div>