<script src="//cdn.dashjs.org/latest/dash.all.js"></script>
<div class="row">
  <div class="col-sm-12 col-md-8">
      <div class="embed-responsive embed-responsive-16by9">
       <video class="dashjs-player embed-responsive-item" autoplay preload="none" controls="true">
              <source src="udp://localhost:9090"/>
       </video>
       <!-- <audio controls="true"><source src=""></audio> -->
     </div>
   </div>
   <div class="col-sm-12 col-md-4">
     <div class="well well-sm library">
       <ul>
        <li ng-if="!view.files">No files in library</li>
        <li ng-if="view.files" ng-repeat="(key, value) in view.files">{{view.user.ip}}:{{view.user.port}} - {{key}}</li>
       </ul>
     </div>
   </div>
 </div>
